/* Styling */
// Imports
@import "_normalize";
@import "_lightgallery";
@import "_lg-transitions";

body {
    background: rgba(255, 255, 224, 0.03);
}

figure {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2.5em;
   border: solid 2pt black;
    border-radius: 5%;
    text-align: center;
}

a {
    display: flex;
    flex-wrap: column;
    justify-content: center;
    padding: 2pt;
    border: 3px solid black;
}