/* Styling */
// I,ports
@import "_normalize";
@import "_lightgallery";
@import "lg-transitions";

    

body {
    background: lightyellow;
}
// loading ring gif
no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }

.loader {
    position: fixed;
    left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(ripple.gif) center no-repeat #fff;
}
// Portfolio Items
figure {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding: 1em;
    width: 450px;
    border-radius:15%;
    border: 2pt outset rgba(209, 110, 25, 0.88);
 
    background: rgba(128, 128, 128, 0.88);
    text-align: center;
}

figure img {
    box-shadow: 2px 2px 2px gray;
    align-items: center;
    margin: 2pt;
}
figtitle {
    text-align: center;
    padding-right: 20px;
    padding-bottom: 20px;
    background-color: aqua;
    width: 120;
    height: 20px;
}
